body {
    background-color: #d5d4ed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    border: 1px black dashed;
}



.text-zone {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 100;
}