@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    list-style: none;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222
}
h4 {
    font-size: 20px;
    color: #222
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

section-m1 {
    margin: 40px 0;
}

body {
    width: 100vw;
    background-color: #D5D4ED;
    height: 100vh;
}

/* Header and Navbar section */

#navbar_main_logo {
    width: 80%;
    height: auto;
    position: relative;
    left: 15%;

}

/* header a {
    width: 30%;
    height: 40%;
} */

header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15px;
    background: #D5D4ED;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    text-decoration: none;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: .3s ease;

}

#navbar li a:hover,
#navbar li a.active {
    color: #5fa090;;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #5fa090;;
    position: absolute;
    bottom: -4px;
    left: 20px;

}


/* Homepage main section */

#hero {
  width: 100%;
  display: flex;
}
#hero_intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 15% 10% 20% 10%;

}

#hero_intro h1 {
    color:#5fa090;
}


#hero_img {
    height: 60%;
    margin-top: 11%;
    z-index: 0;
    align-self: flex-end;
}

.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #D5D4ED;
    width: 240px;
    position: relative;
    left: -5%;
    bottom: 20%;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  /*   padding: 2em 0em; */
  }

#line4 {
  padding: 0;
}

#asian_script {
    text-align: left;
    color: black !important;
    letter-spacing: 0.02em;
    margin: 1 0 0.4em;
    font-size: 1.5em;
  }

  .btn {
    letter-spacing: 0.1em;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
  }
  .btn:hover {
    text-decoration: none;
  }
  
  /*btn_background*/
  .effect04 {
    --uismLinkDisplay: var(--smLinkDisplay, inline-flex);
    display: var(--uismLinkDisplay);
    color: #000;
    outline: solid  2px #000;
    position: relative;
    transition-duration: 0.4s;
    overflow: hidden;
  }
  
  .effect04::before,
  .effect04 span{
      margin: 0 auto;
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-duration: 0.4s;
  }
  
  /* 文字1を上に */
  .effect04:hover{
  
    background-color: #000;
  }
  
  /* HOVERしたら文字1を上に */
  .effect04:hover span{
    -webkit-transform: translateY(-400%) scale(-0.1,20);
            transform: translateY(-400%) scale(-0.1,20);
  }
  
  /*文字2*/
  .effect04::before{
    content: attr(data-sm-link-text);
      color: #FFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(500%) scale(-0.1,20);
            transform: translateY(500%) scale(-0.1,20);
  }
  
  /* HOVERしたら文字2を上に */
  .effect04:hover::before{
    letter-spacing: 0.05em;
    -webkit-transform: translateY(0) scale(1,1);
            transform: translateY(0) scale(1,1);
  }

  #basket {
    width: 20%;
    max-height: 100%;
    background-color: #FFF;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 5;
    overflow:scroll;
    overflow-y: auto;
    overflow-x: hidden;
  }

#featured {
  width: 100%;
}

#featured h2,p {
  padding-left: 1rem;
}



.products_container {
  justify-content: center;
  display: flex;
  gap: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: #000 1px solid;
  text-align: center;
  height: 25%;
  padding: 10px;
  border-radius: 10%;
}

.product img {
  height: 300px;
  width: auto;
}


.description button .add_to_cart {
  height: 50px;
}

.description button {
  width: 50px;
  transition: all .2s ease-in-out;
}


.description button:hover {
  transform: scale(1.2)
}

.product_name {
  font-family: serif ;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: serif;
  align-items: center;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 7.5%;
  top: 25px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

#basket {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.basketItem {
  display: grid;
  list-style: none;
  grid-template-areas:
  'prodImg prodName prodName'
  'prodImg prodPrice itemQuant'
  ; 
  border: solid black 1px;
  align-items: center;
}

.basketItem li {
  text-align: left;
  
}

.basketItem img{
  height: 200px;
  grid-area: prodImg;
  border-right: 1px solid black;
}

.productInBasketName {
  grid-area: prodName;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: .5rem;
  
}

.prodPrice {
  padding-top: 5px;
  margin-left: .5rem;
  width: 3rem;
}

.itemQuantity {
  grid-area: itemQuant;
  display: flex;
  gap: .5rem;
  width: 7rem;
  
}

.itemQuantity button {
  height: 20px;
}

.removeItemButton {
  background-color: red;
  border-radius: 50%;
  width: 20px;
}

.quantityButton {
  display: flex;
  gap: 10px;
}

.quantityButton button {
  width: 20px;
  height: 20px;
}
.quantityButton p {
  margin: 0;
  text-align: center;
  padding-top: 5px;
  padding-left: 0px;
}

#basketTotal {
  text-align: right;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

   footer img {
    position: absolute;
    width: 100%;
    padding-top: 3rem;
   }
/* media queries tablet size 500px to 770px width */

@media (max-width: 770px) {
  #basket {
    width: 50%;
  }

  #hero_img {
    height: 40%;
    margin-top: 15%;
  }

  .description img {
    height: 200px;
  }

  #line4 {
  padding-bottom: 10px;
  }
}

@media (max-width: 426px) {
 
  #hero_intro {
    padding: 50% 10% 60% 10%;
  }

  #hero_img {
    height: 25%;
    top: 15%;
    right: 0%;
  }

  #featured {
    padding-left: 10%;
  }

  .products_container {
    padding-left: 90%;
  }

  .basket {
    padding-top: 10px;
  }

  footer img {
    display: none;
  }

  


}











